<div class="body-container">
    <div class="home-card">
        <div class="business-cal">
            <div class="business-info">
                <h4>{{facility.name}}</h4>
                <h6>{{facility.street_address}}, {{facility.city}}, {{facility.state}} {{facility.zipcode}}</h6>
            </div>
            <div class="day-buttons">
                <a data-day="0" class="btn class-day-lookup">Monday</a>
                <a data-day="1" class="btn class-day-lookup">Tuesday</a>
                <a data-day="2" class="btn class-day-lookup">Wedsday</a>
                <a data-day="3" class="btn class-day-lookup">Thursday</a>
                <a data-day="4" class="btn class-day-lookup">Friday</a>
                <a data-day="5" class="btn class-day-lookup">Saturday</a>
                <a data-day="6" class="btn class-day-lookup">Sunday</a>
            </div>
            <div id="classes">
                {{#each class}}
                    <div class="card">
                        <h3>{{class_name}}</h3>
                        <h6>Drop-in Rate: ${{cost}}</h6>
                        <h6>Time: {{start_time}}</h6>
                        <a data-id="{{id}}" class="btn appointment-book">BookFit</a>
                    </div>
                {{/each}}
            </div>
        </div>
        <script type="text/javascript" src="/javascripts/moment.js"></script>
        <script type="text/javascript" src="/javascripts/calendar.js"></script>
        <script type="text/javascript" src="/javascripts/appointment.js"></script>