<div class="home-card">
    <h2>Search Results</h2>
    <hr class="my-4">
    <div id="search-results">
        {{#each class}}
        <div class="card">
            <h4>{{name}}</h4>
            <p>${{cost}}</p>
            <p>{{day_of_week}}: {{start_time}}</p>
            <a data-class={{id}} class="btn appt-book">Book it!</a>
        </div>
        {{/each}}
    </div>
</div>