<div class="body-container">
    <div class="home-card">
        <h2>Search Results</h2>
        <hr class="my-4">
        {{!-- Class search --}}
        <div class="search-results">
            {{#each class}}
            <div class="card">
                <h4>{{name}}</h4>
                <p>${{cost}}</p>
                <p>{{day_of_week}}: {{start_time}}</p>
                <a data-class={{id}} class="btn appt-book">Book it!</a>
            </div>
            {{/each}}
        </div>
        {{!-- Location Search --}}
        <div class="search-results">
            {{#each gym}}
            <div class="card">
                <div class="search-card-title">
                    <div class="facility-title">
                        <h4>{{name}}</h4>
                        <p>({{city}})</p>
                    </div>
                    <h6>{{street_address}}, {{city}}, {{state}} {{zipcode}}</h6>

                    <div class="facility-btn">
                        <a data-class={{id}} href="/facility/facilityId={{id}}/initial-view" class="btn appt-book">Book
                            It</a>
                    </div>

                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>